@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero-bg{
  background-image: url('/assets/bg-hotels.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar{
  width: 10px;
  border-radius: 4px;
}

body::-webkit-scrollbar-track{
  background: #444;
}

body::-webkit-scrollbar-thumb{
  background: #8DD3BB;
}

body::-webkit-scrollbar-thumb:hover{
  background: #73b69d;
}

.custom-select::-webkit-scrollbar{
  width: 3px;
  border-radius: 4px;
}

.custom-select::-webkit-scrollbar-track{
  background: #000;
}

.custom-select::-webkit-scrollbar-thumb{
  background: #8DD3BB;
}

.custom-select::-webkit-scrollbar-thumb:hover{
  background: rgb(80, 136, 7)3BB;
}

@layer{
    .app-container{
        @apply w-full mx-auto px-4 md:px-2 2xl:px-1 container max-w-screen-xl
    }

    .title-primary{
        @apply text-[45px] md:text-5xl font-bold text-gray-800
    }
}