<section>
  <div class="app-container">
    <div class="flex flex-col gap-8 pb-20">
      <div
        class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-6"
      >
        <div class="flex flex-col gap-4">
          <h2 class="heading-primary">Fall into travel</h2>
          <p class="max-w-[851px]">
            Going somewhere to celebrate this season? Whether you’re going home
            or somewhere to roam, we’ve got the travel tools to get you to your
            destination.
          </p>
        </div>
        <a routerLink="/">
          <app-button
            class="min-w-20"
            text="See All"
            customClass="text-black bg-transparent border border-mint-green w-full text-nowrap py-[11.5px] px-4 hover:bg-mint-green hover:text-white"
          ></app-button>
        </a>
      </div>
    </div>
    <div
      class="grid grid-cols-1 grid-rows-6 md:grid-cols-2 md:grid-rows-4 xl:grid-cols-4 xl:grid-rows-2 h-[1650px] md:h-[895px] xl:h-[424px] gap-6"
    >
      <div
        class="md:col-span-2 row-span-2 bg-mint-green rounded-[20px] flex flex-col justify-between p-6"
      >
        <div class="flex flex-col gap-3 sm:gap-6">
          <div class="flex justify-between">
            <h3
              class="text-3xl sm:text-[40px] sm:leading-[44px] font-bold text-blackish-green max-w-[219px] sm:max-w-[314px]"
            >
              Backpacking Sri Lanka
            </h3>
            <div
              class="hidden sm:flex bg-white items-center flex-col h-min p-2 rounded-lg text-[14px]"
            >
              From
              <span class="font-semibold text-[20px]">$700</span>
            </div>
          </div>
          <p class="text-base">
            Traveling is a unique experience as it's the best way to unplug from
            the pushes and pulls of daily life. It helps us to forget about our
            problems, frustrations, and fears at home. During our journey, we
            experience life in different ways. We explore new places, cultures,
            cuisines, traditions, and ways of living.
          </p>
        </div>
        <app-button
          text="Book Flight"
          customClass="bg-white text-black w-full"
        ></app-button>
      </div>
      <div class="col-span-1 row-span-1 rounded-xl relative">
        <img ngSrc="/assets/gallery-1.png" fill alt="gallery-1" />
      </div>
      <div class="col-span-1 row-span-1 rounded-xl relative">
        <img ngSrc="/assets/gallery-2.png" fill alt="gallery-2" />
      </div>
      <div class="col-span-1 row-span-1 rounded-xl relative">
        <img ngSrc="/assets/gallery-3.png" fill alt="gallery-3" />
      </div>
      <div class="col-span-1 row-span-1 rounded-xl relative">
        <img ngSrc="/assets/gallery-4.png" fill alt="gallery-4" />
      </div>
    </div>
  </div>
</section>
