@if(auth.isLoading$ | async){
<div class="relative h-[45px] w-[45px] bg-gray-700 rounded-full"></div>
}@else { @if(auth.isAuthenticated$ | async){ @if(auth.user$ | async; as user){
<div class="relative text-blackish-green">
  <div
    class="relative h-[45px] w-[45px] rounded-full"
    (click)="handleOpenChange()"
  >
    <img
      [ngSrc]="
        user.picture
          ? user.picture
          : 'https://i.pinimg.com/736x/de/4b/2b/de4b2b63e716ca9880975137388593fe.jpg'
      "
      class="bg-black rounded-full cursor-pointer object-cover"
      alt="profile"
      fill
    />
  </div>
  <div
    [ngClass]="{ 'top-[20px]': !isOpen, 'opacity-0 invisible': !isOpen }"
    class="-z-20 transition-[opacity_0.3s,visibility_0.35s,transform_0.3s] absolute w-96 bg-white -right-4 top-[130%] shadow-2xl drop-shadow-xl shadow-black rounded-xl py-8 flex gap-6 flex-col px-8"
  >
    <div class="flex items-center gap-4">
      <div class="w-[64px] h-[64px] bg-black rounded-full relative">
        <img
          [ngSrc]="
            user.picture
              ? user.picture
              : 'https://i.pinimg.com/736x/de/4b/2b/de4b2b63e716ca9880975137388593fe.jpg'
          "
          class="bg-black rounded-full cursor-pointer object-cover"
          alt="profile-pic"
          fill
        />
      </div>
      <div class="flex flex-col gap-px">
        <p class="text-xl font-semibold">{{ user.name }}</p>
        <p class="text-base text-gray-600">Online</p>
      </div>
    </div>
    <hr class="w-full h-px bg-slate-900" />
    <div class="flex flex-col gap-4">
      @for (link of accountLinks.slice(0, 3); track $index) {
      <a class="flex justify-between items-center cursor-pointer">
        <div class="flex gap-2">
          <ng-icon [name]="link.iconName" class="text-2xl"></ng-icon>
          <p class="text-lg font-semibold">{{ link.label }}</p>
        </div>
        <ng-icon name="ionArrowForwardSharp" class="text-xl"></ng-icon>
      </a>
      }
    </div>
    <hr class="w-full h-px bg-slate-900" />
    <div class="flex flex-col gap-4">
      @for (link of accountLinks.slice(3, 5); track $index) {
      <a
        class="flex justify-between items-center cursor-pointer"
        (click)="onLinkClick(link.isLogout)"
      >
        <div class="flex gap-2">
          <ng-icon [name]="link.iconName" class="text-2xl"></ng-icon>
          <p class="text-lg font-semibold">{{ link.label }}</p>
        </div>
        <ng-icon name="ionArrowForwardSharp" class="text-xl"></ng-icon>
      </a>
      }
    </div>
  </div>
</div>
} } @else {
<button (click)="auth.loginWithRedirect()">Log in</button>
} }
