<section>
  <div class="flex flex-col">
    <div class="hero-bg">
      <div class="app-container h-[537px] pt-20">
        <div class="max-w-[420px] text-white flex flex-col gap-2">
          <h1 class="text-[45px] leading-[57px] font-bold">
            Make your travel whishlist, we’ll do the rest
          </h1>
          <p class="text-[20px] leading-6">Special offers to suit your plan</p>
        </div>
      </div>
    </div>
    <div class="app-container">
      <form
        class="w-full shadow-xl drop-shadow-2xl h-64 -translate-y-1/2 z-10 bg-white ring-0 rounded-xl py-8 px-6 flex flex-col gap-6"
      >
        <h2 class="text-xl font-semibold text-blackish-green">
          Where are you flying?
        </h2>

        <div class="flex gap-4">
          <app-input
            class="flex-1"
            label="Destination"
            placeholder="City, Country"
            icon="ionBed"
          ></app-input>
          <date-picker
            label="Check in"
            (selectedDateChange)="onSelectedDateChange($event, 'checkIn')"
          ></date-picker>
          <date-picker
            label="Check out"
            (selectedDateChange)="onSelectedDateChange($event, 'checkOut')"
          ></date-picker>
          <app-select
            label="Rooms & Guests"
            icon="ionPerson"
            [data]="roomAndGuestsData"
          ></app-select>
        </div>
        <div class="flex gap-6 justify-end">
          <p class="flex items-center gap-1 cursor-pointer">
            <span class="text-2xl">+</span> Add Promo Code
          </p>
          <app-button
            text="Show Places"
            icon="heroBuildingOffice2Solid"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</section>
