<header class="text-blackish-green z-20 relative">
  <div class="app-container">
    <div class="flex justify-between items-center py-[25px]">
      <nav class="md:flex gap-8 hidden">
        @for(link of links; track link.path){
        <a [href]="link.path" class="flex gap-1">
          <ng-icon [name]="link.iconName" class="text-xl" />
          <p class="text-sm font-semibold">{{ link.label }}</p>
        </a>
        }
      </nav>
      <div>
        <img src="/assets/logo.svg" alt="logo" />
      </div>
      <div class="flex items-center z-10">
        <a href="" class="hidden sm:flex items-center gap-2">
          <ng-icon name="ionHeart" class="text-xl" />
          <p>Favourites</p>
        </a>
        <hr class="h-[17px] w-0.5 bg-blackish-green mx-5 hidden sm:block" />
        @if(isBrowser){
        <auth-btn></auth-btn>
        }
      </div>
    </div>
  </div>
  <div></div>
</header>
